<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ beerName }}</h1>
    <p class="beer-details" *ngIf="manufacturer">
      Made by <i>{{ manufacturer }}</i>
    </p>
  </div>
</div>

<div class="container">
  <br>
  <div>
    <span class="font-weight-light result-count">Sold at {{ beerLocations?.length }}</span>
    <p-dropdown class="float-right text-left" *ngIf="filterOptions" [options]="filterOptions" (onChange)="sortBy($event.value)"></p-dropdown>
  </div>
  <br>
  <p-table [value]="beerLocations" sortMode="multiple" sortField="price">
    <ng-template pTemplate="header">
      <tr>
        <th>Bar</th>
        <th>
          Price
        </th>
        <th>Inventory</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
      <tr>
        <td><a routerLink="/bars/{{ bar.Bar }}">{{ bar.Bar }}</a></td>
        <td>{{ bar.Price | currency }}</td>
        <td>{{ bar.Inventory }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<div class="container">
<h2 class="text-center font-weight-light">Top Ten Bars Selling {{beerName}}</h2>
<br>
<div id="bargraph_bars"></div>
</div>
<br>
<div class="container">
  <h2 class="text-center font-weight-light">Time Distribution of {{beerName}} Sales</h2>
  <br>
  
<div class="container">
    <br>
    <div id="bargraph_timedistribution"></div>
  </div>
</div>

<h2 class="text-center font-weight-light">Top 10 Drinkers of {{beerName}}</h2>
<br>

<div class="container">
<br>
<div id="bargraph_drinkers"></div>
</div>

 