<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">These are the drinkers!</h1>
  </div>
</div>

<div class="container">
  <p-table [value]="drinkers" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
          <th>Name</th>          
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Phone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
        <tr>
          <td>
            <a routerLink="/drinkers/{{drinker.Name}}">
              {{drinker.Name}}
            </a>
          </td>
          <td>{{drinker.Address}}</td>
          <td>{{drinker.City}}</td>
          <td>{{drinker.State}}</td>
          <td>{{drinker.Phone}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>
