<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bar Beer Drinker!</h1>
    <p class="lead">This is a demo application to learn how to create a clean, responsive web interface.</p>
  </div>
</div>

<div class="container">
  <br>
  <div id="bargraph"></div>
</div>