<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find your favorite beers!</h1>
    <p class="lead">This page can be used to see all the beers in our system or just the ones by your preferred
      manufacturer.</p>
    <p-dropdown *ngIf="manufacturerOptions" [ngClass]="{ 'no-option-selected': selectedManufacturer === undefined || selectedManufacturer === null }"
      placeholder="Filter by manufacturer" [options]="manufacturerOptions" [(ngModel)]="selectedManufacturer" showClear="true"
      (onChange)="filterBeers($event.value)"></p-dropdown>
  </div>
</div>
<br>

<div class="container">
  <h2 class="text-center font-weight-light">Beers</h2>
  <p-table [value]="beers" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Manufacturer</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beer>
      <tr>
        <td><a routerLink="/beers/{{ beer.Name }}">{{ beer.Name }}</a></td>
        <td>{{ beer.Manf }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>
