<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bar Beer Drinker!</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="container">
  <p-table [value]="bars" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>License</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Phone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
        <tr>
          <td>
            <a routerLink="/bars/{{bar.Name}}">
              {{bar.Name}}
            </a>
          </td>
          <td>{{bar.License}}</td>
          <td>{{bar.Address}}</td>
          <td>{{bar.City}}</td>
          <td>{{bar.State}}</td>
          <td>{{bar.Phone}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>
<br><br>
<div class="container">
    <h2 class="text-left font-weight-light">Find the top ten bars selling the specified beer on a given day</h2>  
    <p class="lead"></p>
    <table>
      <tr><td>Select a Beer:</td>  
      <td><p-dropdown *ngIf="beerOptions" [options]="beerOptions" placeholder="Select a Beer" showClear="true"  
        (onChange)="saveBeers($event.value)"></p-dropdown></td> </tr>  
      <tr><td>Select a Day:</td>  
      <td><p-dropdown *ngIf="dayOptions" [options]="dayOptions" placeholder="Select a Day" showClear="true"  
        (onChange)="saveDays($event.value)"></p-dropdown></td> </tr>  
    </table>    

   <div class="container">
      <br>
      <div id="bargraph_top10barsbysales"></div>
      </div>
</div>


