<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bar Beer Drinker Admin</h1>
    <p class="lead">This page is for administrators to update/delete/insert records in all tables.</p> 
    <p>Note: Constraints and assertions are applied wherever applicable. Cascading delete and update on child tables with foreign keys are applied if the corresponding records in parent tables are deleted or updated.</p>    
  </div>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Bars</h2>
    <h6 class="text-left font-weight-light">Name varchar(100), License varchar(15), Phone varchar(15), Address varchar(75), City varchar(50), State varchar(25)</h6>
    <h6 class="text-left font-weight-light">Primary Key (Name)</h6> 
  <input #bars_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_bars_sql(bars_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspBarsMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Drinkers</h2>
    <h6 class="text-left font-weight-light">Name varchar(75), City varchar(50), State varchar(25), Address varchar(75), Phone varchar(15)</h6>
    <h6 class="text-left font-weight-light">Primary Key (Name)</h6> 
  <input #drinkers_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_drinkers_sql(drinkers_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspDrinkersMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Items</h2>
    <h6 class="text-left font-weight-light">Name varchar(100), Manf varchar(100), Type varchar(10)</h6>
    <h6 class="text-left font-weight-light">Primary Key (Name)</h6> 
  <input #items_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_items_sql(items_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspItemsMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Bartenders</h2>
    <h6 class="text-left font-weight-light">Name varchar(75), City varchar(50), State varchar(25)</h6>
    <h6 class="text-left font-weight-light">Primary Key (Name)</h6> 
  <input #bartenders_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_bartenders_sql(bartenders_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspBartendersMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Transaction_Bills</h2>
    <h6 class="text-left font-weight-light">TransactionID int, Bar varchar(100), TransactionTime datetime, Drinker varchar(75), Bartender varchar(100), TotalAmount_PostTax decimal(10,2), Tip decimal(10,2)</h6>
    <h6 class="text-left font-weight-light">Primary Key (TransactionID, Bar), Foreign Keys: Bar, Drinker, Bartender</h6> 
  <input #transaction_bills_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_transaction_bills_sql(transaction_bills_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspTransaction_BillsMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Bar_Hours</h2>
    <h6 class="text-left font-weight-light">Bar varchar(100), Day varchar(20), Open_hour int, Close_hour int</h6>
    <h6 class="text-left font-weight-light">Foreign Keys: Bar, Day</h6> 
  <input #bar_hours_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_bar_hours_sql(bar_hours_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspBar_HoursMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Works</h2>
    <h6 class="text-left font-weight-light">Bartender varchar(100), Bar varchar(100), Day varchar(20), Shift_Start int, Shift_End int</h6>
    <h6 class="text-left font-weight-light">Foreign Keys: Bartender, Bar, Day</h6> 
  <input #works_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_works_sql(works_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspWorksMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Sells</h2>
    <h6 class="text-left font-weight-light">Bar varchar(100), Item varchar(100), Price decimal(6,2), Inventory int</h6>
    <h6 class="text-left font-weight-light">Foreign Keys: Bar, Item</h6> 
  <input #sells_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_sells_sql(sells_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspSellsMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Buys</h2>
    <h6 class="text-left font-weight-light">TransactionID int, Bar varchar(100), Item varchar(100), Quantity int</h6>
    <h6 class="text-left font-weight-light">Foreign Keys: (TransactionID, Bar), Item</h6> 
  <input #buys_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_buys_sql(buys_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspBuysMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Frequents</h2>
    <h6 class="text-left font-weight-light">Drinker varchar(100), Bar varchar(100)</h6>
    <h6 class="text-left font-weight-light">Foreign Keys: Drinker, Bar</h6> 
  <input #frequents_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_frequents_sql(frequents_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspFrequentsMessage}}</span></p>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Likes</h2>
    <h6 class="text-left font-weight-light">Drinker varchar(100), Beer varchar(100)</h6>
    <h6 class="text-left font-weight-light">Foreign Keys: Drinker, Beer</h6> 
  <input #likes_Sql (keyup)="onKey($event)" class="text-left font-weight-light" style='width:80%'>
  <button (click)="run_likes_sql(likes_Sql.value)" >Execute Sql</button>
  <br>
  <p class="text-left font-weight-light">SQL Execution Status: <span style='color:blue'>{{rspLikesMessage}}</span></p>
</div>