<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Meet the Bartenders!</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="container">
  
  <h2 class="text-left font-weight-light">Find a bartender</h2>
  <table>
    <tr><td>Select a Bar:</td>
    <td><p-dropdown *ngIf="barOptions1" [options]="barOptions1" placeholder="Select a Bar" showClear="true"
      (onChange)="displayBartenders($event.value)"></p-dropdown></td> </tr>
    <tr><td>Select a Bartender: &nbsp;&nbsp;&nbsp;</td>
    <td><p-dropdown *ngIf="bartenderOptions" [options]="bartenderOptions" placeholder="Select a Bartender" showClear="true"
      (onChange)="showBartenderShiftAndSales($event.value)"> </p-dropdown></td></tr>    
  </table>
  <br>
    
    <div class="container" id="tbl1">
    
    <h4 class="text-center font-weight-light">{{selectedBartender1}} Work Shifts</h4>
    <p-table [value]="bartenderShifts">
        <ng-template pTemplate="header">
            <tr>
              <th>Bar</th>          
              <th>Day</th>
              <th>Shift Start</th>
              <th>Shift End</th>              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shift>
            <tr>              
              <td>{{shift.Bar}}</td>
              <td>{{shift.Day}}</td>
              <td>{{shift.Shift_Start}}</td>
              <td>{{shift.Shift_End}}</td>
            </tr>
        </ng-template>
      </p-table>
      <br><br>
    </div>
    <div class="container">
                         
          <div class="container">
              <br>
            <div id="bargraph_bertendersales"></div>
          </div>
</div>

<div class="container">
    <h2 class="text-left font-weight-light">Find the top ten bartenders</h2>  
    <p class="lead"></p>
    <table>
      <tr><td>Select a Bar:</td>
      <td><p-dropdown *ngIf="barOptions2" [options]="barOptions2" placeholder="Select a Bar" [(ngModel)]="selectedBar2" showClear="true"
        (onChange)="saveBarOption($event.value)"></p-dropdown></td> </tr>
      <tr><td>Select a Day:</td>
      <td><p-dropdown *ngIf="dayOptions" [options]="dayOptions" placeholder="Select a Day" [(ngModel)]="selectedDay" showClear="true"
        (onChange)="saveDayOption($event.value)"></p-dropdown></td> </tr>      
      <tr><td>Select a Shift: &nbsp;&nbsp;&nbsp;</td>
      <td><p-dropdown *ngIf="shiftOptions" [options]="shiftOptions" placeholder="Select a Shift" showClear="true"
        (onChange)="showTopBartenders($event.value,$event.label)"> </p-dropdown></td></tr>            
    </table>
    <br><br>     

   <div class="container">
      <br>
      <div id="bargraph_topbartenders"></div>
      </div>
</div>
