<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ drinkerName }}</h1>
    <p class="drinker-details" *ngIf="drinkerDetails">
      {{ drinkerDetails?.Address }} <span *ngIf="drinkerDetails.Address && drinkerDetails.City"> | </span> {{ drinkerDetails?.City}} | {{ drinkerDetails?.State }}
      <br>
      {{ drinkerDetails?.Phone }}
    </p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">{{drinkerName}} Past Transactions</h2>
  <br>
  <p-table [value]="transaction" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
  <tr>
  <th>Bar</th>
  <th>Date</th>
  <th>Time</th>
  <th>Total Amount</th>
  <th>Items Bought</th>
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
  <tr>
  <td>{{ item.Bar }}</td>
  <td>{{ item.Date | date:'MM/dd/yyyy' }}</td>
  <td>{{ item.Time | date:'MM/dd/yyyy HH:mm:ss'}}</td>
  <td>{{ item.TotalAmount | currency }}</td>
  <td>{{ item.ItemsBought }}</td>
  </tr>
  </ng-template>
  </p-table>
 </div>
<br><br>

<div class="container">
  <h2 class="text-center font-weight-light">Top Ten Beers Ordered by {{drinkerName}}</h2>
  <br>
  
  <div class="container">
    <br>
    <div id="bargraph_top10beers"></div>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Spending by {{drinkerName}} in Different Bars</h2>
  <br>
  <div>
    <p-dropdown *ngIf="barOptions" [ngClass]="{ 'no-option-selected': selectedBar === undefined || selectedBar === null }"
  placeholder="Select a Bar" [options]="barOptions" [(ngModel)]="selectedBar" showClear="true"
  (onChange)="refreshDrinkerBar($event.value)"></p-dropdown>
  </div>
  <div class="container">
    <br>
    <div id="bargraph_perbarbyday"></div>
  </div>
  <div class="container">
    <br>
    <div id="bargraph_perbarbyweek"></div>
  </div>
  <div class="container">
    <br>
    <div id="bargraph_perbarbymonth"></div>
  </div>
</div>
