<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bar Beer Drinker SQL Query Interface</h1>
    <p class="lead">This page is for SELECT. Type the SQL query in the box and it will be evaluated in the database with results returned. 
      <br>To speed up the execution, limit the select to just a few hundred rows.
      <br>For Updates/Deletions/Insertions, please use the Modification page.</p>
  </div>
</div>
  <div class="container">
  <input #newSql (keyup)="onKey($event)" style='width:80%;' >
  <button (click)="run_sql(newSql.value)" >Execute Sql</button>
  <br><br>
  <p>Sql Execution Status: <font color="blue">{{rspMessage}}</font></p>
  <pre>Sql Execution Results:<br>{{str_myData}}</pre>

</div>
