<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ barName }}</h1>
    <p class="bar-details" *ngIf="barDetails">
      {{ barDetails?.Address }} <span *ngIf="barDetails.Address && barDetails.City"> | </span> {{ barDetails?.City}} | {{ barDetails?.State }}
      <br>
      {{ barDetails?.Phone }}
    </p>
    
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Beer Menu</h2>
  <br>
  <div>
    <p-dropdown class="float-right text-left" *ngIf="filterOptions" [options]="filterOptions" (onChange)="sortBy($event.value)"></p-dropdown>
  </div>
  <br>
  <p-table [value]="menu" sortMode="multiple" sortField="price">
  <ng-template pTemplate="header">
  <tr>
  <th>Beer</th>
  <th>Menufacturer</th>
  <th>Price</th>
  <th>Likes</th>
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
  <tr>
  <td><a routerLink="/beers/{{ item.Beer }}">{{ item.Beer }}</a></td>
  <td>{{ item.Manf }}</td>
  <td>{{ item.Price | currency }}</td>
  <td>{{ item.Likes }}</td>
  </tr>
  </ng-template>
  </p-table>
 </div>
<br><br>

<div class="container">
  <h2 class="text-center font-weight-light" id="toptendrinkers">Top Ten Drinkers by Spending</h2>
  <br>
  
  <div class="container">
    <br>
    <div id="bargraph_drinkers"></div>
  </div>
</div>

<h2 class="text-center font-weight-light">Fraction of Inventory Sold Each Day</h2>
<br>

<div class="container">
  <br>
  <div id="bargraph_fractions"></div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Time Distribution of Sales</h2>
  <br>
  
  <div class="container">
    <br>
    <div id="bargraph_timedistribution"></div>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light" id="toptenbeers">Top Ten Beer Brands Sold</h2>
  <br>
  <div>
    <table>
      <tr><td>Select a Day of the Week:&nbsp;&nbsp;&nbsp; </td>
    <p-dropdown *ngIf="dayOptions" [ngClass]="{ 'no-option-selected': selectedDayOfWeek === undefined || selectedDayOfWeek === null }"
  placeholder="Select Day of Week" [options]="dayOptions" [(ngModel)]="selectedDayOfWeek" showClear="true"
  (onChange)="refreshTop10Beer($event.value)"></p-dropdown>
      </tr></table>
  </div>
  <div class="container">
    <br>
    <div id="bargraph_beers"></div>
  </div>
</div>


<br><br>
