<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Here are the Manufacturers!</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="container">

  <h2 class="text-left font-weight-light">Find a Manufacturer</h2>
  <br>
  <table>
    <tr><td>Select a Manufacturer:</td>
    <td><p-dropdown *ngIf="manfOptions" [options]="manfOptions" placeholder="Select a Manufacturer" showClear="true"
      (onChange)="showManufacturersData($event.value)"></p-dropdown></td> </tr>
  </table>
  <br>
  <div class="container">
     <br>
     <div id="bargraph_cityRevenue"></div>
     </div>
    <div class="container">
        <br>
        <div id="bargraph_cityQuantity"></div>
      </div>

</div>
